<launch>
  <include file="$(find iai_donbot_bringup)/launch/bringup_base.launch"/>
  <include file="$(find iai_donbot_bringup)/launch/bringup_ur5.launch"/>
  <include file="$(find iai_donbot_bringup)/launch/ptgrey_refills_fast2.launch"/>
  <include file="$(find realsense2_camera)/launch/realsense_donbot.launch"/>
  <include file="$(find refills_first_review)/launch/chillitags_baseboard.launch"/>
  <include file="$(find rs_refills)/launch/rs_refills_with_json_prolog.launch"/>
  <node pkg="refills_first_review" type="ring_light_switch.py" name="ring_light_switch"/> 

  <!-- Bring together the different joint state messages -->
  <node pkg="joint_state_publisher" type="joint_state_publisher"
  name="joint_state_publisher" output="screen">
    <rosparam param="source_list">
    - base/joint_states
    - arm/joint_states
    </rosparam>
    <rosparam param="zeros">
    'odom_x_joint': 0.0
    'odom_y_joint': 0.0
    'odom_z_joint': 0.0
    'gripper_base_gripper_left_joint': 0.0
    'gripper_joint': 0.0
    </rosparam>

    <param name="rate" value="120"/>
    <param name="use_gui" value="False"/>

  </node>
</launch>
