<launch>
  <arg name="enable_pointcloud" default="False" />

  <include file="$(find iai_donbot_bringup)/launch/bringup_base.launch"/>
  <include file="$(find iai_donbot_bringup)/launch/bringup_ur5.launch"/>
  <!--include file="$(find iai_donbot_bringup)/launch/ptgrey_refills_fast2.launch"/-->
  <include file="$(find iai_donbot_bringup)/launch/camera-12mp.launch"/>
  <include file="$(find realsense_ros_camera)/launch/realsense_donbot_slow.launch">
    <arg name="enable_pointcloud" value="$(arg enable_pointcloud)" />
  </include>
  <include file="$(find refills_first_review)/launch/chillitags_d435.launch"/>
  <include file="$(find refills_first_review)/launch/amy.launch"/>
  <include file="$(find iai_ringlight)/launch/IAI_ringlight_service.launch"/> 

  <!-- Bring together the different joint state messages -->
  <node pkg="joint_state_publisher" type="joint_state_publisher"
  name="joint_state_publisher" output="screen">
    <rosparam param="source_list">
    - base/joint_states
    - arm/joint_states
    </rosparam>
    <rosparam param="zeros">
    'odom_x_joint': 0.0
    'odom_y_joint': 0.0
    'odom_z_joint': 0.0
    'gripper_base_gripper_left_joint': 0.0
    'gripper_joint': 0.0
    </rosparam>

    <param name="rate" value="120"/>
    <param name="use_gui" value="False"/>

  </node>
</launch>
